<style>
h1 {
    font-size: 500%;
    text-align: center;
    color: green;
}

h2 {
font-size: 250%:
text-align: center;
color: red;
}

h3 { 
    color: green;
   text-align: center;
}

ul { 
    color: green; 
    text-align: center;
   }

</style>

