:root
 {
  background-color: rgb(211, 211, 211);
 }
 h1 {
    font-size: 500%;
    text-align: center;
    color: green;
  font-family: luminari;
}

h2 {
font-size: 250%;
  color: red;
  text-align: center;
 font-family: luminari;
}
h3 { 
    color: green;
   text-align: center;
}
ul { 
    list-style: none;
    color: green; 
    text-align: center;
   }
  img {
    display: block; margin-left: auto; margin-right: auto;
  }


